[project]
	description = Project for testing code-review & merge tooling
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Barnaby Court (barnabycourt)
[access "refs/for/refs/*"]
	read = group user/Barnaby Court (barnabycourt)
	push = group user/Barnaby Court (barnabycourt)
	label-Code-Review = -2..+2 group user/Barnaby Court (barnabycourt)
	label-Verified = -1..+1 group user/Barnaby Court (barnabycourt)
	label-checkstyle = -1..+1 group user/Barnaby Court (barnabycourt)
	label-merge = -1..+1 group user/Barnaby Court (barnabycourt)
	rebase = group user/Barnaby Court (barnabycourt)
	removeReviewer = group user/Barnaby Court (barnabycourt)
	submit = group user/Barnaby Court (barnabycourt)
[access "refs/heads/*"]
	read = group user/Barnaby Court (barnabycourt)
	create = group user/Barnaby Court (barnabycourt)
	push = +force group user/Barnaby Court (barnabycourt)
	pushMerge = group user/Barnaby Court (barnabycourt)
[access "refs/tags/*"]
	push = +force group user/Barnaby Court (barnabycourt)
	pushTag = group user/Barnaby Court (barnabycourt)
	pushSignedTag = group user/Barnaby Court (barnabycourt)
[receive]
	requireChangeId = true
[label "checkstyle"]
	function = MaxWithBlock
	value = -1 Fails
	value =  0 No score
	value = +1 Verified
[label "merge"]
	function = MaxWithBlock
	value = -1 Fails
	value =  0 No score
	value = +1 Verified
